@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welkom op de Tuyet Webshop!</h1>
    <h1>Hier vind je de leukste producten.</h1>
    <h1>Neem een kijkje in de productenlijst en meld je aan als je een account hebt.</h1>
    <h1>Shop ze!</h1> <br />

    <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Index", "Products")'">Ga naar de productenlijst</button>
</div>
